{% extends 'base.html' %}
{% block title %} {{ author_obj.first_name }} {{ author_obj.last_name }} {% endblock %}
{% block body %}
{% load static %}
<link href="{% static 'extended/profile.css' %}" rel="stylesheet" >

<div class='col-md-10 col-md-offset-1 top-marg3'>
{% if create_new %}
	<div class='col-md-12 pad-zero'>
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
				<strong>Hey!</strong> {{ create_new }}
		</div>
	</div>
{% endif %}
	<div class='col-md-6' style='padding:0 0.5% 0 0;'>
		<div class="col-md-12 well bordrad-zero " style='padding-bottom:0;'>
			<h3 class='text-center text-uppercase'> {{ author_obj.first_name }} {{ author_obj.last_name }} </h3>
			<div class='pic-container'>
				<img src="{{ MEDIA_URL }}/{{ author_obj.profile_picture }}" class="img-responsive image-fit-frame"/>
			</div>
			<div class='panel panel-default' style='border-radius: 0;'>
				<div class='panel-heading' >
					<h5> {{ author_obj.gender }} ,<small class='pad-left'> Birthday </small> {{ author_obj.date_of_birth }} </h5>
					<h5> 	{{ author_obj.bio }} </h5>
				</div>
			</div>
		</div>
	</div>

	<div class='col-md-6' style='padding:0 0 0 0.5%;'>
		<div class='col-md-12 well bordrad-zero'>
			<h4 class='text-center'> <small>Check out the Books written by {{ author_obj.first_name }} {{ author_obj.last_name }}</small>  </h4>
		</div>
		<div class='col-md-12 pad-zero' >
			<button type="button" class="btn btn-block btn-info btnsize2" id="books_btn"> <h4> <i class="fa fa-book iconspace"></i> Books </h4> </button> 
		</div>
	</div>

	<div class='col-md-6' id="books_col" style='padding:0 0 0 0.5%;'>
		<div class='col-md-12 pad-zero' >
			{% if not books_by_author_obj %}
				<h5 class='text-center well bordrad-zero'> No Books Written</h5>
			{% endif %}
			<div class='col-md-12 pad-zero' >
				{% for book in books_by_author_obj %}
					<div class='col-md-6' style='padding:0;'>
						<a href="/readbooks/book/{{ book.id }}" style='text-decoration: none;'> <button type="button" class='btn btn-default btn-block btnsize1'> <i class='fa fa-book iconspace'></i> {{ book.title }}</button>	</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
		
		<div class= 'col-md-12'>
			<!-- show all  -->
		</div>
	</div>

</div> 
<script>
$(document).ready(function(){
	$("#books_col").hide();
	$("#books_btn").click(function(){
		$("#books_col").toggle("fade");
	});

});
</script>
{% endblock %}
