{% extends 'base.html' %}
{% block title %} {{ review_obj.heading }} {% endblock %}
{% block body %}
<style>
.pad-right{ padding-right: 3%;}
.well {	margin:0;}
.iconspace { padding-right: 2%;} 
.btnsize1 { height:7%;}
.btnsize2 {height:10%; text-transform: uppercase;border-radius:0;}
.pic-container{ background-color: #f5f5f5; height:40%;border:0;padding:4% 0 2% 0;}
.pad-zero{padding:0;}
</style>

<div class='col-md-10 col-md-offset-1 '>
{% if review_obj.status == 'Published' %}
	<div class='col-md-8 well' style='padding:0 0.5% 0 0;'>
		<h3 class='text-center text-uppercase' style='padding:3%;'> {{ review_obj.heading }} </h3>
		<div >
			<h4 style='padding:1% 5% 0 5%;'> {{ review_obj.review }} </h4>
		</div>
		<h5 class = 'pull-left' style="padding:4%;"> - {{ review_obj.pubdate }} </h5>
	</div>

	<div class='col-md-4' style='padding:0 0 0 0.5%;'>
		<div class='col-md-12 well'>
			<h4 class='text-center'> <small>Review Details</small> </h4>
		</div>
		<div class='col-md-6 pad-zero' >
			<button type="button" class="btn btn-block btn-info btnsize2" id="critic_btn"> <h5> <i class="fa fa-user iconspace"></i> Critic </h5> </button> 
		</div>
		<div class='col-md-6 pad-zero'> 
			<button type="button" class="btn btn-block btn-info btnsize2" id="book_btn"> <h5> <i class="a fa-book iconspace"></i> book reviewed </h5> </button> 
		</div>
	</div>

	<div class='col-md-4' id="critic_col" style='padding:0 0 0 0.5%;'>
		<div class='col-md-12 pad-zero'>
			<div class='pic-container '>
				<img src="{{ MEDIA_URL }}/{{ review_obj.critic.profile_picture }}" class='img-responsive image-fit-frame' />
			</div>
			
			<div class='col-md-12 pad-zero'>
				<a href="/readbooks/critic/{{ review_obj.critic.id }}" style='text-decoration: none;'> <button type="button" class='btn btn-default btn-block btnsize1'> <i class='fa fa-user iconspace'></i> {{ review_obj.critic.first_name }} {{ review_obj.critic.last_name }}</button> </a>
			</div>
		</div>		
	</div>	

	<div class='col-md-4' id="book_col" style='padding:0 0 0 0.5%;'>
		<div class='col-md-12 pad-zero'	>
			<div class='pic-container '>
				<img src="{{ MEDIA_URL }}/{{ review_obj.book.cover_picture }}" class='img-responsive image-fit-frame' />
			</div>
			<div class='col-md-12 pad-zero'>
				<a href="/readbooks/book/{{ review_obj.book.id }}" style='text-decoration: none;'> <button type="button" class='btn btn-default btn-block btnsize1'> <i class='fa fa-book iconspace'></i> {{ review_obj.book.title }}</button> </a>
			</div>
		</div>
	</div>

</div>

{% endif %}

<script>
	$(document).ready(function(){
		$("#critic_col").hide();
		$("#book_col").hide();
		$("#critic_btn").click(function(){
			$("#book_col").hide();
			$("#critic_col").toggle("fade");
		});
		$("#book_btn").click(function(){
			$("#critic_col").hide();
			$("#book_col").toggle("fade");
		});
	});
</script>

{% if review_obj.status != 'Published' %}
<div class="well">
	 <h3 style="padding: 3%;"> Review Not Published Yet! </h3>
	 <h5 style="padding: 3%;"> Hello! <br />We're sorry that you can't read the review now. The Critic is still writing and hasn't published it yet. Please wait a bit.</h5>
</div>
{% endif %}
	

{% endblock %}
