{% extends 'base.html' %}
{% block title %} {{ book_obj.title }} {% endblock %}
{% block body %}

<style>
.pad-right{ padding-right: 3%;}
.well {margin:0;}
.iconspace { padding-right: 2%;} 
.btnsize1 { height:7%; margin-top:7%; margin-bottom: 5%;border-radius: 0;}
.btnsize2 {height:10%; text-transform:uppercase;border-radius:0;}
.pic-container{ background-color: #f5f5f5; height:45%;border:0;padding:0% 0 2% 0;}
.pad-zero{padding:0;}
.btnround{ height:15%; width: 20%; border-radius: 100%; margin:5% 25% 5% 40%; }
/*.pad-marg-zero{padding:0; margin:0;}*/
</style>

<div class='col-md-10 col-md-offset-1 top-marg3'>
	{% if create_new %}
	<div class='col-md-12 pad-zero'>
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> <strong>Hey!</strong> {{ create_new }}
		</div>
	</div>
	{% endif %}
	<div class='col-md-6' id= 'books_main_div' style='padding:0 0.5% 0 0; max-height: 60%;'>
		<div class="col-md-12 well bordrad-zero " id = "book_profile_div" style='padding-bottom:0;'>
			<p class='text-center text-uppercase' style='font-size: 240%;'> {{ book_obj.title }} </p>
			<div class=' pic-container'>
				<img src="{{ book_obj.cover_picture.url }}" class="img-responsive image-fit-frame"/>
			</div>
			<div class='panel panel-default' style='border-radius: 0;'>
				<div class='panel-heading' >
					Written By <a href="/readbooks/author/{{ book_obj.author.id }}">  {{ book_obj.author.first_name }} {{ book_obj.author.last_name }} </a> and Published by <a href="/readbooks/publisher/{{ book_obj.publisher.id }}">  {{ book_obj.publisher.name }}  </a> <br>
					Published on {{ book_obj.publication_date }} <br>
					Genre {% for genre in book_obj.genre.all %}
						<a href="/readbooks/genre/{{ genre.id }}"> {{ genre.name }}</a>
					{% endfor %} <br>
						<div id="book_description" style='max-height:14%; padding-top:2%;'>
							<small class='pad-right'> The story is about: </small> {{ book_obj.book_synopsis }} and lorem ipsumn huge chunk text blajh thtes and lorem ipsumn huge chunk text blajh thtes and lorem ipsumn huge chunk text blajh thtes and lorem ipsumn huge chunk text blajh thtes and lorem ipsumn huge chunk text blajh thtes and lorem ipsumn huge chunk text blajh thtes and lorem ipsumn huge chunk text blajh thtes and lorem ipsumn huge chunk text blajh thtes 	
						</div>
					</div>
			</div>						
		</div>
	</div>
	
	<div class='col-md-6' style='padding:0 0 0 0.5%'>
		<div class='col-md-6 pad-zero' >
			<button type="button" class="btn btn-block btn-info btnsize2" id="reviews_btn" data-placement="bottom" title="Reviews of {{book_obj.title}}"> <i class="fa fa-star-o iconspace"></i> Reviews </button> 
		</div>
		<div class='col-md-6 pad-zero'> 
			<button type="button" class="btn btn-block btn-info btnsize2" id="comments_btn" data-toggle="tooltip" data-placement="bottom" title="Popularity of {{book_obj.title}}"> <i class="a fa-comment iconspace"></i> Popularity </button> 
		</div>
	</div>

	<div class='col-md-6' id="reviews_col" style='padding:0 0 0 0.5%;'>
		<div class='col-md-12 pad-zero'>
			{% if not reviews_book_obj %}
				<div class='text-center well bordrad-zero'> No Reviews Published</div>
			{% endif %}

			{% if user_type == 'Critic' %}
			<button type="button" class="btn btn-info text-uppercase btnround" data-toggle="modal" data-target="#addReview"> <h2> <i class="fa fa-plus iconspace"> </i> </h2></button> 
				<div class="modal fade" id="addReview" tabindex="-1" role="dialog">
				  <div class="modal-dialog" role="document">
				  	<div class="modal-content">
				  		<div class='well bordrad-zero'>
				  			<div class="modal-header">
						      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        	<h2 class="modal-title text-uppercase text-center">Add Review</h2>
				      	</div>
				      	<form action = "/readbooks/add_review/" method="post">{% csrf_token %}
				      		<fieldset>			      		
									<div class="modal-body">
							      	<style> .form-group{ padding: 2% 0 2% 0; }</style>
							      	<div class="form-group" '>
							         	<label for="id_heading" class=" col-md-3 control-label" required="true">Heading</label>
						            	<div class='col-md-9'>
						            		<input type="text" id="id_heading" name="heading" class='form-control'>
						            	</div>
						          	</div>
						           	<input type='text' hidden="true" name='book_id' value="{{book_obj.id}}">

						          	<div class="form-group">
						            	<label for="id_status" class=" col-md-3 control-label">Status</label>
						            	<div class='col-md-9'>
												<select id="id_review_status" required="true" class="form-control" name="status">
													<option value="Draft" selected="selected"> Draft </option>
													<option value = "Published"> Publish</option>
												</select>
						            	</div>
						          	</div>
						          	<div class="form-group">
						            	<label for="id_review" class=" col-md-3 control-label">Review</label>
						            	<div class='col-md-9'>
						            		<textarea type='text' required="true" id='id_review' class='form-control' name='review'> </textarea>
						            	</div>
						          	</div>
						      	</div>
						      	<div class="modal-footer" style='margin-top:4%;'>
										<div class='col-md-6 col-md-offset-4'>
								      	<button type="submit" class="btn btn-primary"> <i class='fa fa-plus iconspace'> </i> Add Review</button>
								      	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								      </div>
						      	</div>
						      </fieldset>
				      	</form>
				      </div>
					</div>
			   </div>
			</div>

			{% endif %}

			<div class='col-md-12 pre-scrollable' style='padding:0; max-height:50%;'>
				{% for review in reviews_book_obj %}
					<div class='col-md-6 pad-zero' >
						<a href="/readbooks/review/{{ review.id }}" style='text-decoration: none;'> <button type="button" class='btn btn-default btn-block btnsize1'> <i class='fa fa-star-o iconspace'> </i> {{ review.heading }} </button> </a>
					</div>
				{% endfor %}
			</div>
			<div class='col-md-12'>
				<!-- show all -->
			</div>
		</div>
	</div>	

	<div class='col-md-6' id="comments_main_div" style='padding:0 0 0 0.5%; max-height:77%;'>
	<div class='col-md-12 pad-zero'>
		{% if user_type == 'Reader' %}
			<form action="/readbooks/add_book_comment/" method='POST'>{% csrf_token %}
			<fieldset>
				<!-- <div class="col-md-12 pad-zero" style='margin:0;'> -->
					<div class="input-group pad-zero">
					<input hidden="true" name='book_id' value="{{book_obj.id}}">
						<input type="text" name="new_comment" class="form-control" placeholder="Add Your Comment" >
						<span class="input-group-btn"> <button type="button submit" class="btn btn-default"> <i class="fa fa-comment"></i> Comment </button> </span>
					</div>
				<!-- </div> -->
			</fieldset>
			</form>
			{% endif %}
	</div>
		<div class='col-md-12 well pre-scrollable bordrad-zero pad-zero' id="all_comments_div" style='max-height:69%;'>
			{% if not comments_by_book_obj %}
				<div class='text-center well bordrad-zero'> Not really popular among people</div>
			{% endif %}
			{% for comment in comments_by_book_obj %}
				<div class='well' style='border-radius: 0;'>
					<!-- <div class='panel-heading' > -->
						<i class='fa fa-user'></i> <a href="/readbooks/reader/{{ comment.reader.id }}"> {{ comment.reader }} </a>:  {{ comment.reader_comment }} <small class='pull-right'> {{ comment.message_time|timesince }} ago</small>
					<!-- </div> -->
				</div>
			{% endfor %}
		</div>
	</div>	


</div>

<script>
$(document).ready(function(){
	$("#reviews_col").hide();
	$("#comments_main_div").hide();

	var bookMainDivHeightPercent = $("#books_main_div").outerHeight()/window.innerHeight*100;
	if (bookMainDivHeightPercent>60){
		$("#book_description").addClass("pre-scrollable");
	}

	$("#reviews_btn").click(function(){
		$("#comments_main_div").hide();
		$("#reviews_col").toggle("fade");
	});

	$("#comments_btn").click(function(){
		$("#reviews_col").hide();
		$("#comments_main_div").toggle("fade");

			// var commentsMainDivHeightPercent=$("#comments_main_div").outerHeight()/window.innerHeight*100;
			// if (commentsMainDivHeightPercent>77){
			// 	$("#all_comments_div").addClass("pre-scrollable");
			// }

	});
});
</script>

{% endblock %}
