{% extends 'base.html' %}
{% load static %}
{% block title %} {{ critic_obj.first_name }} {{ critic_obj.last_name }} {% endblock %}
{% block body %}
<link href="{% static 'extended/profile.css' %}" rel="stylesheet" >

<div class='col-md-10 col-md-offset-1 top-marg3 '>

	{% if edit_success %}
	<div class='col-md-12 pad-zero'>
		<div class="alert alert-info alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> <strong>Hey!</strong> {{ edit_success }}
		</div>
	</div>
	{% endif %}
	<div class='col-md-6' style='padding:0% 0.5% 0 0;'>
		<div class="col-md-12 well bordrad-zero " style='padding-bottom:0;'>
			<p class='text-center text-uppercase' style='font-size: 240%;'> {{ critic_obj.first_name }} {{ critic_obj.last_name }} </p>
			<div class='pic-container'>
				<img src="{{ critic_obj.profile_picture.url }}" class="img-responsive image-fit-frame"/>
			</div>
			<div class='panel panel-default' style='border-radius: 0;'>
				<div class='panel-heading' >
					<div class='col-md-6 pad-zero'>{{ critic_obj.gender }}</div> 
					<div class='col-md-6 pad-zero'><small class='pad-right'> Birthday: </small> {{ critic_obj.date_of_birth }}</div>
					{{ critic_obj.bio }}
				</div>
			</div>
		</div>
	</div>

	<div class='col-md-6' style='padding:0 0 0 0.5%'>
		<button type="button" class="btn btn-block btn-info btnsize2" id="reviews_btn"  data-placement="bottom" title="Reviews by {{critic_obj.first_name}} {{critic_obj.last_name}}"> <i class="fa fa-star-o iconspace"></i> Reviews </button> 
	</div>

	<div class='col-md-6' id="reviews_col" style='padding:0 0 0 0.5%;'>
		<div class='col-md-12 pad-zero'>
			{% if not reviews_by_critic_obj %}
				<div class='text-center well bordrad-zero'> No Reviews Published</div>
			{% endif %}
			<div class='col-md-12 pad-zero' >
				{% for review in reviews_by_critic_obj %}
					{% if review.status == 'Published' %}
						<div class='col-md-6 pad-zero'>
							<a href="/readbooks/review/{{ review.id }}" style='text-decoration: none;'> <button type="button" class='btn btn-default btn-block btnsize1'> <i class='fa fa-star-o iconspace'></i>  {{ review.heading }} </button>	</a>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class= 'col-md-12'>
			<!-- show all  -->
		</div>
	</div>
</div>
<script>
$(document).ready(function(){
	$("#reviews_col").hide();
	$("#reviews_btn").tooltip({
		show: {
			effect: "slideDown",
			delay: 250
		}
	});
	$("#reviews_btn").click(function(){
		$("#reviews_col").toggle("fade");
	});

});
</script>
{% endblock %}
