{% extends 'base.html' %}
{% block title %} Readbooks {% endblock %}
{% block body %}

<div class="col-md-10 col-md-offset-1 top-marg3" id= "index_div">

<h2> Hey {{ user_type }} </h2>
  <p>
	 LOAD STUFF HERE IN HOMEPAGE
  </p>
  <h2> Checklist </h2>
  <ul> 
		<li> JQUERY hover effect </li>
		<li> JOIN GROUP </li>
		<li> ADD TITLE TO EVERY HREF</li>
		<li> MESSAGES </li>
		<li> CURRENTLY READ/SUBSCRIBE BOOK -> [FOR READERS ONLY]</li>
		<br>
		<li> HOMEPAGE <OL> <li>--current book + author + publisher NEWS </li> <li> reader-> created-topics-REPLIES CHECK FROM LAST-LOGIN (USE TIME DELTA)
		</li></OL></li>
                  
  </ul>


</div>


{% endblock %}
