{% extends 'base.html' %}
{% block title %} Readbooks {% endblock %}
{% block body %}

<div class="col-md-12 top-marg3" id= "index_div">

<h2> Hey {{ user_type }} </h2>
  <p>
	 LOAD STUFF HERE IN HOMEPAGE
  </p>
  <h2> Checklist </h2>
  <ul> 
		<li> JQUERY hover effect </li>
		<li> Export REVIEWS AS PDF </li>
		<li> form preview and submit using OnClick, form.submit </li>
	  	<li> COMMENT -> BOOK [FOR READERS ONLY]</li>
	  	<li> JOIN GROUP </li>
		<li> create topic </li>
		<li> reply topic</li>
	  	<li> CURRENTLY READ/SUBSCRIBE BOOK -> [FOR READERS ONLY]</li>
		<li> GROUP -> CREATE TOPIC</li>
		<li> MESSAGES </li>
		in the end 
		<br>
		<li> --current book + author + publisher NEWS</li>
  </ul>


</div>


{% endblock %}
