{% extends 'base.html' %}
{% block title %} {{ publisher_obj.name }} {% endblock %}
{% block body %}
{% load static %}
<link href="{% static 'extended/profile.css' %}" rel="stylesheet" >

<div class='col-md-10 col-md-offset-1 top-marg3'>
	{% if create_new %}
	<div class='col-md-12 pad-zero'>
		<div class="alert alert-info alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> <strong>Hey!</strong> {{ create_new }}
		</div>
	</div>
	{% endif %}

	<div class='col-md-6' style='padding:0 0.5% 0 0;'>
		<div class="col-md-12 well bordrad-zero " style='padding-bottom: 0;'>
			<p class='text-center text-uppercase' style='font-size: 240%'> {{ publisher_obj.name }} </p>
			<div class='pic-container'>
				<img src="{{  publisher_obj.cover_picture.url }}" class="img-responsive image-fit-frame"/>
			</div>
			<div class='panel panel-default' style='border-radius: 0;'>
				<div class='panel-heading' >
					Location: {{ publisher_obj.address }}  <br>
					Visit: <a href="{{ publisher_obj.website }}"> {{ publisher_obj.website }} </a>
				</div>
			</div>
		</div>
	</div>

	<div class='col-md-6' style='padding:0 0 0 0.5%;'>
		<button type="button" class="btn btn-block btn-info btnsize2" id="books_btn" data-placement="bottom" title="Books by {{ publisher_obj.name }}"> <i class="fa fa-book iconspace"></i> Books  </button>
	</div>

	<div class='col-md-6' id="books_col" style='padding:0% 0 0 0.5%;'>
		<div class='col-md-12 pad-zero' >
			{% if not books_by_publisher_obj %}
				<div class='text-center well bordrad-zero'> No Books Published </div>
			{% endif %}
			<div class='col-md-12 pad-zero'>
				{% for book in books_by_publisher_obj %}
					<div class='col-md-6' style='padding:0;'>
						<a href="/readbooks/book/{{ book.id }}" style='text-decoration: none;'> <button type="button" class='btn btn-default btn-block btnsize1'> <i class='fa fa-book iconspace'></i> {{ book.title }}</button>	</a>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class= 'col-md-12'>
			<!-- show all  -->
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	$("#books_col").hide();
	$("#books_btn").tooltip({
		show: {
			effect: "slideDown",
			delay: 250
		}
	});
	$("#books_btn").click(function(){
		$("#books_col").toggle("fade");
	});

});
</script>
{% endblock %}
