{% load static %}
<html>
<head>
  <title> SignUp Done </title>
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}"	rel="stylesheet" >
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="jumbotron" style="padding:0; height:100%; margin:0;">
		<h1 style="text-align: center; text-transform: uppercase; padding-top:9%;"> Registration Successfull! </h1>
		
		<h4 style="text-align: center; text-transform: capitalize; padding-top:3%;"> You account has been created</h4>

		<div class='col-md-4 col-md-offset-4' style="padding-top:5%;">
			<a href="{% url 'login_url' %}" class='btn text-uppercase btn-block btn-primary'> Login </a>
		</div>
	</div>
</body>