{% extends 'base.html' %}
{% block title %} Search {% endblock %}
{% block body %}
<style>
.iconspace{padding:0 3% 0 3%;}
</style>
<div class="col-md-10 col-md-offset-1" style=" padding:4% 0 0 0;">
		<div class="col-md-8 col-md-offset-2 " >
			<form class = "form-horizontal" action="" method="GET">
				<fieldset>
					<div class="form-group">
						<legend style="text-align: center;">
							Find what you're looking for
						</legend>
						<div class="col-md-10 col-md-offset-1 pad-zero">
							<div class="input-group">
								<input type="text" name="query" class="form-control" placeholder="Books, Authors, Genres, Critics, Reviews, Groups, Topics etc.">
								<span class="input-group-btn"> <button type="button submit" class="btn btn-default"> <i class="iconspace fa fa-search"></i> Search </button> </span>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>

	{% if books %}
	<div class="col-md-10 col-md-offset-1 " >
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title text-center">Books</div>
			</div>
			<div class="panel-body">
				<!-- <div class="list-group"> -->
					{% for book in books %}
					<a href="/readbooks/book/{{ book.id }}" class="list-group-item" title="Writer: {{book.author}} and Publisher: {{book.publisher}}"> <div class="list-group-item-heading"> <i class="iconspace fa fa-book iconspace"> </i> {{ book.title }} <div class="pull-right"> <small> Published: </small>{{book.publication_date}} </div> </div> </a>
					{% endfor %}
				<!-- </div> -->
			</div>
			<div class="panel-footer">
				{{ books|length }} Book{{ books|pluralize }} Found with <strong>{{ query_string }}</strong>
			</div>
		</div>
	</div>
	{% endif %}

	{% if authors %}
	<div class="col-md-10 col-md-offset-1 " >
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title text-center">Authors</div>
			</div>
			<div class="panel-body">
				<div class="list-group">
					{% for author in authors %}
					<a href="/readbooks/author/{{ author.id }}" class="list-group-item" title="{{author.bio}}">	<div class="list-group-item-heading"> <i class="iconspace fa fa-user"></i> {{ author.first_name }} {{ author.last_name }} <div class="pull-right"> <small>Born: </small> {{ author.date_of_birth}} </div> </div>	</a>
					{% endfor %}
				</div>
			</div>
			<div class="panel-footer">
				{{ authors|length }} Author{{ authors|pluralize }} Found with <strong>{{ query_string }}</strong>
			</div>
		</div>
	</div>
	{% endif %}

	{% if critics %}
	<div class="col-md-10 col-md-offset-1 "  >
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title text-center">Critics</div>
			</div>
			<div class="panel-body">
				<div class="list-group">
					{% for critic in critics %}
					<a href="/readbooks/critic/{{ critic.id }}" class="list-group-item" title="{{critic.bio}}">	<div class="list-group-item-heading"><i class="iconspace fa fa-user"></i> {{ critic.first_name}} {{ critic.last_name }} <div class="pull-right"> <small>Born: </small> {{ critic.date_of_birth}} </div> </div>	</a>
					{% endfor %}
				</div>
			</div>
			<div class="panel-footer">
				{{ critics|length }} Critic{{ critics|pluralize }} Found with <strong>{{ query_string }}</strong>
			</div>
		</div>
	</div>
	{% endif %}

	{% if genres %}
	<div class="col-md-10 col-md-offset-1 "  >
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title text-center">Genre</div>
			</div>
			<div class="panel-body">
				<div class="list-group">
					{% for genre in genres %}
					<a href="/readbooks/genre/{{ genre.id }}" class="list-group-item">	<div class="list-group-item-heading"><i class="iconspace fa fa-filter"></i> {{ genre.name }}</div> 		</a>
					{% endfor %}
				</div>
			</div>
			<div class="panel-footer">
				{{ genres|length }} Genre{{ genres|pluralize }} Found with <strong>{{ query_string }}</strong>
			</div>
		</div>
	</div>
	{% endif %}

	{% if topics %}
	<div class="col-md-10 col-md-offset-1 " >
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title text-center">Topics</div>
			</div>
			<div class="panel-body">
				<div class="list-group">
					{% for topic in topics %}
					<a href="/readbooks/topic/{{ topic.id }}" class="list-group-item" title="{{topic.reply_count}} Replies">	<div class="list-group-item-heading"><i class="iconspace fa fa-comments"></i> {{ topic.topic_heading }} <small class='pull-right'>Started: {{topic.creator}}, <br> - {{topic.creation_date|timesince}} ago</small> </div>
					</a>
					{% endfor %}
				</div>
			</div>
			<div class="panel-footer">
				{{ topics|length }} Topic{{ topics|pluralize }} Found with <strong>{{ query_string }}</strong>
			</div>
		</div>
	</div>
	{% endif %}

	{% if groups %}
	<div class="col-md-10 col-md-offset-1 " >
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title text-center">Groups</div>
			</div>
			<div class="panel-body">
				<div class="list-group">
					{% for group in groups %}
					<a href="/readbooks/group/{{ group.id }}" class="list-group-item" title="{{group.description}}">	<div class="list-group-item-heading"><i class="iconspace fa fa-group"></i> {{ group.name }} <small class='pull-right'> {{group.member_count}} Members, <br> - {{group.topic_count}} Topics</small> </div>
					</a>
					{% endfor %}
				</div>
			</div>
			<div class="panel-footer">
				{{ groups|length }} Group{{ groups|pluralize }} Found with <strong>{{ query_string }}</strong>
			</div>
		</div>
	</div>
	{% endif %}

	{% if publishers %}
	<div class="col-md-10 col-md-offset-1 " >
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title text-center">Publishers</div>
			</div>
			<div class="panel-body">
				<div class="list-group">
					{% for pub in publishers %}
					<a href="/readbooks/publisher/{{ pub.id }}" class="list-group-item" title="{{pub.location}}">	<div class="list-group-item-heading"> <i class="iconspace fa fa-leanpub"></i> {{ pub.name }} <div class='pull-right'> <small> Address:</small> {{pub.address}} </div> </div>	</a>
					{% endfor %}
				</div>
			</div>
			<div class="panel-footer">
				{{ publishers|length }} Publisher{{ publishers|pluralize }} Found with <strong>{{ query_string }}</strong>
			</div>
		</div>
	</div>
	{% endif %}

	{% if reviews %}
	<div class="col-md-10 col-md-offset-1 " >
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title text-center">Reviews</div>
			</div>
			<div class="panel-body">
				<div class="list-group">
					{% for review in reviews %}
					<a href="/readbooks/review/{{ review.id }}" class="list-group-item" title="Review By: {{review.critic}}">
						<div class="list-group-item-heading"><i class="iconspace fa fa-star-o"></i> {{ review.heading }} </div>
					</a>
					{% endfor %}
				</div>
			</div>
			<div class="panel-footer">
				{{ reviews|length }} Review{{ reviews|pluralize }} Found with <strong>{{ query_string }}</strong>
			</div>
		</div>
	</div>
	{% endif %}

	{% if readers %}
	<div class="col-md-10 col-md-offset-1 " >
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title text-center">Readers</div>
			</div>
			<div class="panel-body">
				<div class="list-group">
					{% for reader in readers %}
					<a href="/readbooks/reader/{{ reader.id }}" class="list-group-item">
						<div class="list-group-item-heading"> <i class="fa fa-user iconspace"></i> {{ reader.first_name }} {{ reader.last_name }} </div>
					</a>
					{% endfor %}
				</div>
			</div>
			<div class="panel-footer">
				{{ readers|length }} Reader{{ readers|pluralize }} Found with <strong>{{ query_string }}</strong>
			</div>
		</div>
	</div>
	{% endif %}

</div>

{% endblock %}
