{% extends 'base.html' %}
{% block title %} {{ topic_obj.topic_heading }} {% endblock %}
{% block body %}
<style>
.well {	margin:0;}
.iconspace { padding-right: 3%;} 
.btnsize3{ height:6%; border-radius:0; }
</style>

<div class='col-md-10 col-md-offset-1 top-marg3'>
	{% if create_new %}
	<div class='col-md-12 pad-zero'>
		<div class="alert alert-info alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> <strong>Hey!</strong> {{ create_new }}
		</div>
	</div>
	{% endif %}

	<div class='container well bordrad-zero'>
		<div class='well bordrad-zero' style='padding:1%;'>
		<div class='row'>
			<div class='col-md-11'>
				<div class='col-md-12 pull-left' style="font-size: 200%;"> {{ topic_obj.topic_heading }}
				</div>
				<div class='col-md-12 pull-left'> <a href="/readbooks/group/{{topic_obj.group.id}}" title="{{topic_obj.group.group_description}}"> {{topic_obj.group}} </a>
				</div>
		 </div>
			<div class='col-md-1'> 
				{% if topic_author %}
					<button type="button" class="btn btn-block btn-default btnsize1" id="review_edit_btn" data-toggle="modal" data-target="#deleteTopic"> <h3 class='bord-zero'> <i class="fa fa-remove iconspace"></i> </h3> </button>
					<div class="modal fade" id="deleteTopic" tabindex="-1" role="dialog">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class='well bordrad-zero'>
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h2 class="modal-title text-uppercase text-center">Delete</h2>
									</div>
									<form action = "/readbooks/delete_topic/" method="post"> {% csrf_token %}
									  	<fieldset>
											<div class="modal-body">
												<h3 class='text-center'> Are you sure you want to delete your topic?</h3>
												<h2 class= 'text-center'> {{ topic_obj.topic_heading }}</h2>
												<div class="form-group" '>
													<input type='text' hidden="true" name='topic_id' value="{{topic_obj.id}}">
												</div>
											</div>
											<div class="modal-footer">
												<div class='col-md-6 col-md-offset-2'>
													<button type="submit" class="btn btn-danger"> <i class='fa fa-trash iconspace'> </i> Delete </button>
													<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
												</div>											
											</div>
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
				{% endif %}

				{% if group_admin %}
					<button type="button" class="btn btn-block btn-default btnsize1" id="review_edit_btn" data-toggle="modal" data-target="#deleteTopic"> <h3 class='bord-zero'> <i class="fa fa-remove iconspace"></i> </h3> </button>
					<div class="modal fade" id="deleteTopic" tabindex="-1" role="dialog">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class='well bordrad-zero'>
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h2 class="modal-title text-uppercase text-center">Delete</h2>
									</div>
									<form action = "/readbooks/delete_topic/" method="post"> {% csrf_token %}
									  	<fieldset>
											<div class="modal-body">
												<h3 class='text-center'> Delete {{ topic_obj.creator.first_name }} {{ topic_obj.creator.last_name }}'s topic?</h3>
												<h2 class= 'text-center'> {{ topic_obj.topic_heading }}</h2>
												<div class="form-group" '>
													<input type='text' hidden="true" name='topic_id' value="{{topic_obj.id}}">
												</div>
											</div>
											<div class="modal-footer">
												<div class='col-md-6 col-md-offset-2'>
													<button type="submit" class="btn btn-danger"> <i class='fa fa-trash iconspace'> </i> Delete </button>
													<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
												</div>											
											</div>
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div> 
				{% endif %}
			</div>
		</div>
		</div>
		<div class='col-md-2' style='padding:2% 1% 0 0;'>
			<img src="{{ topic_obj.creator.profile_picture.url }}" class='img-responsive ' />
			<a href="/readbooks/reader/{{ topic_obj.creator.id }}" style='text-decoration: none;'> <button type="button" class='btn btn-success btn-block btnsize3 text-center'> <i class='fa fa-user iconspace'></i>	{{ topic_obj.creator.first_name }} {{ topic_obj.creator.last_name }} </button> </a>
			<h5 style='padding-top:10%;'>
				- {{ topic_obj.creation_date }}
			</h5>
		</div>
		<div class='col-md-10' style='padding: 2% 0 0 1%;'>
			{{ topic_obj.topic_discussion }}
		</div>
	</div>
		
	<div class='container well bordrad-zero' style='padding-top:0;	'>
		{% for reply in replies_by_topic_obj %}
		<div class='col-md-2' style='padding:2% 1% 0 0;'>
			<img src="{{ reply.topic_reply_user.profile_picture.url }}" class='img-responsive image-fit-frame' />
			<a href="/readbooks/reader/{{ reply.topic_reply_user.id }}"> <button type="button" class='btn btn-success btn-block text-center'> <i class='fa fa-user iconspace'></i>	{{ reply.topic_reply_user.first_name }} {{ reply.topic_reply_user.last_name }} </button> </a>
			<h5 style='padding-top:10%;'>
				- {{ reply.message_time }}
			</h5>
		</div>
		<div class='col-md-10' style='padding: 2% 0 0 1%;'>
			{{ reply.topic_reply }}
		</div>
		{% endfor %}
	</div>
</div>


{% endblock %}
